<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Eat the Burger</h1>
    <p class="lead"><i>Keep track of your burger eating progress here!</i></p>
    <form action="/burgers/create" method="POST">
      <div class="form-group">
        <input class="form-control" name="burger_name" type="text" placeholder="Burger Name">
        <br>
        <button type="submit" class="btn btn-success">Add Burger</button>
      </div>
    </form>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <h2>Uneaten Burgers</h2>
      {{#each burgers}}
      {{#unless devoured}}

      
        <div class="new-burger">
          <button type="button" class="btn btn-primary" data-id="{{id}}" data-devoured="{{devoured}}">{{burger_name}}</button>
        </div>


      {{/unless}}
      {{/each}}
    </div>



    <div class="col-md-6">
      <h2>Devoured Burgers</h2>
      {{#each burgers}}
      {{#if devoured}}

      <div>
        <button type="button" class="btn btn-warning">{{burger_name}}</button>
      </div><br>

      {{/if}}
      {{/each}}
    </div>

  </div>
</div>